html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body > .pnotify {
  position: absolute;
  right: 20px;
}

.container {
  width: 300px;
  margin: 0 auto;
}

input {
  width: 300px;
}

.countries-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  padding-top: 5px;
  padding-left: 3px;
  padding-bottom: 5px;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.list-item:last-child {
  border-bottom: solid 1px black;
}
